<h1>{{artist.name}}</h1>
<p>
    Full discography for {{artist.name}}<br/>
    Click the <strong>album cover</strong> for more information.
</p>
<br/>

<mat-card
    [style.background]="background"
    [style.background-size]="'cover'" [style.height]="'450px'">
</mat-card>
<br /><br />
<h1>Full Discography</h1>

<div class="fxlayout">

    <div class="fxflex" [style.margin]="'20px'" *ngFor="let a of album">
        <mat-card routerLink="/album/{{a.id}}" [style.min-width]="'200px'">
            <mat-card-header>
                <mat-card-title>{{a.name}}</mat-card-title>
                <mat-card-subtitle>Album Title</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image class="album-cover"
                src="{{a.images[1].url}}" alt="album art">
            <strong>Release Date: </strong>{{a.release_date}}<br />
            <strong>Tracks: </strong>{{a.total_tracks}}
        </mat-card>
    </div>

</div>